@model IPagedList<AuthorItem>

<div class="text-center my-4">
    @if (Model.PageCount > 1)
    {
        @if (Model.HasNextPage)
        {
            <a asp-area="Admin"
       asp-controller="Authors"
       asp-action=""
       asp-route-p="@(Model.PageNumber)"
       asp-route-ps="@(Model.PageSize + 5)"
               class="btn btn-outline-primary">
                Tải thêm
            </a>
        }
    }
    else
    {
        <button type="button"
                class="btn btn-outline-secondary"
                disabled>
            Không còn tác giả nào
        </button>
    }
</div>

