@model IPagedList<Post>
@{
    ViewData["PageTitle"] = "Chủ đề";
}

<div class="p-4">
    @if (!string.IsNullOrWhiteSpace(ViewBag.NameCat))
    {
        <h3 class="text-primary mb-3">
            Những bài viết thuộc chủ đề '@ViewBag.NameCat'
        </h3>
    }
    @if (Model.Count() == 0)
    {
        <p>Không có bài viết nào thuộc chủ đề '@ViewBag.NameCat'</p>
    }
    @foreach (var postItem in Model)
    {
        <partial name="_PostItem" model="postItem" />
    }
    <partial name="_Pager" model="@Model" />
</div>