@model IPagedList<Post>

@{
    ViewData["PageTitle"] = "Trang chủ";
}

<div class="p-4">
    @foreach (var postItem in Model)
	{
        @*<partial name="_PostList" model="postItem" />*@
        @await Html.PartialAsync("_PostList", postItem);
	}
</div>
